#!/bin/bash
# Scheduled sync for all mirrored items

set -e

{% for item in cloud_sources.pathsToMirror %}
echo Mirroring {{ item.dir }}
rclone sync onedrive:{{ item.dir }} {{ item.path | default(cloud_sources.default_path) }}{{ item.dir }}
{% endfor %}
curl https://uptimekuma.internal.{{ domain }}/api/push/IbvjzEGD8e?status=up&msg=OK&ping=