#!/bin/bash
# Scheduled sync for all mirrored items

set -e

echo "Starting Cloud Mirror"

{% for item in cloud_sources.pathsToMirror %}
echo "Mirroring {{ item.dir }}"
rclone sync onedrive:{{ item.dir }} {{ item.path | default(cloud_sources.default_path) }}{{ item.dir }} --log-level INFO --stats 0
echo "Finished {{ item.dir }}"
{% endfor %}

echo "Finished Cloud Mirror"

curl -w "\n" https://uptimekuma.internal.{{ domain }}/api/push/IbvjzEGD8e?status=up&msg=OK&ping=